* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    border: 1px solid gray;
    padding:  0 1rem 1rem;
    background-color: rgb(230 243 254 / 0.7);
    text-align: center;
    word-break: break-word;
    text-align: center;
}

header {
    margin: 1rem auto;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 0 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 1.5rem;
}

h2 {
    color: navy;
    grid-column: 1/3;
    justify-content: left;
    padding: 1rem 0 0;
}

section {
    padding: 1rem;
}

article p {
    text-align: justify;
}

.callout {
    color: #000;
    background-color: #eee;
    padding: 1rem;
    grid-column: 1/3;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}