* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    animation: fade .5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}