* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}


header p {
    padding: 1rem 1rem 2rem 1rem;
    background-color: #292828;
    color: #fff;
}

header nav{
    background-color: #000;
    padding: 1rem;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
main section p{
    background-color: #eee;
    padding: 1rem 1rem 20rem 1rem;
}

main aside p {
    padding: 1rem 1rem 20rem 1rem;
}

footer {
    text-align: center;
    background-color: #292828;
    color: #fff;
}

footer p {
    padding: 1rem 1rem 3rem 1rem;
}