* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(90, 12, 12);
    --secondary-color: rgb(6, 6, 80);
    --font-color: white;
    --border-color: #ccc;
    --heading-font: 'PT Serif', serif;
    --body-font: 'Lora', serif;
}

html {
    width: 1100px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--font-color);
}

#course-title {
    display: block;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    text-align: center;
    color: var(--font-color);
    padding: 1rem;
}

nav ul{
    list-style-type: none;
    background-color: var(--secondary-color);
}

nav ul li {
    padding: 1rem;
}

nav ul li a {
    padding: 16px;
    font-family: var(--body-font);
    font-size: 1.2rem;
    color: var(--font-color);
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a:hover, nav ul li a:active {
    background-color: var(--font-color);
    color: var(--secondary-color);
    transition: background-color .6s ease-in-out, color 0.6s ease-in-out;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 1000px;
    margin: 0 auto; 
}

.card {
    border: 1px solid var(--border-color);
    font-family: var(--body-font);
    margin: 1rem;
    border-radius: 10px;
    background-color: #eee;
}

h1 {
    grid-column: 1/-1;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.7rem;
    padding: 1rem 1rem 0 1rem;
}

h2 {
    font-family: var(--heading-font);
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
}

.introduction {
    display: grid;
    grid-template-columns: 7fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.introduction p {
    display: grid;
    line-height: 1.5;
    height: 175px;
    align-items: center;
}

.flag-section {
    display: grid;
    grid-template-columns: 7fr  1fr;
    padding: 1rem;
}

.flag-section h3 {
    display: grid;
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 1rem;
}

.flag-section h3::after {
    content: "";
    display: block;
    width: 70%;
    height: 2px;
    background-color: var(--border-color);
    margin: .6rem auto 0 auto;
}

.flag-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.flag-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flag-image p {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}

.flag-description {
    line-height: 1.5;
    margin-right: 5rem;
}

.resource-links {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 600px;
}
.resource-links ul li a {
    display: block;
    margin: 1rem 0;
}

footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    font-family: var(--body-font);
}

footer p:nth-last-of-type(1) {
    font-size: 1rem;
}