* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

:root {
--heading-font: 'PT Serif', serif;
--body-font: 'Lora', serif;
--primary-color: rgb(90, 12, 12);
--secondary-color: #eee;
--font-color: white;
}

header h1, footer {
background-color: var(--primary-color);
color: var(--font-color);
font-family: var(--heading-font);
font-style: italic;
font-size: 1.5rem;
padding: 1rem;
text-align: center;
}

header h1 {
    height: 70px;
}

footer p:nth-last-of-type(1){
font-size: 1.2rem;
}

.prf {
background-color: var(--secondary-color);
color: #000;
margin: 1rem;
padding: 1rem;
border-radius: 5px;
border: 4px solid var(--font-color);
box-shadow: 0 0 10px var(--primary-color);
}

fieldset {
margin: 1rem;
padding: .5rem;
border: none;
}

legend {
font-family: var(--heading-font);
font-style: italic;
font-size: 1.3rem;
}

.screenReader {
position: absolute;
width: 1px;
height: 1px;
overflow: hidden;
clip-path: inset(50%);
white-space: nowrap;
}

input[type="text"],
input[type="date"],
select, textarea {
display: block;
width: 100%;
max-width: 400px;
height: 44px;
padding: .5rem;
appearance: none;
font-family: var(--body-font);
font-size: 1.1rem;
border: none;
border-radius: 2.5px;
}

select {
    background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M6 9 L12 15 L18 9' stroke='black' stroke-width='3' fill='none' /%3E%3C/svg%3E") no-repeat right 1rem center;
    background-size: 25px;
    background-color: white;
}

input[type="checkbox"] {
transform: scale(2);
margin: 1rem 1rem 0 1rem;

}

input[type="radio"] {
transform: scale(2);
margin-top: .5rem;
}

textarea {
height: auto;
}

input[type="submit"] {
font-family: var(--body-font);
font-style: italic;
font-size: 1.3rem;
width: 88%;
max-width: 400px;
margin: 0 2% 0 6%;
padding: .5rem;
border: 4px solid var(--font-color);
box-shadow: 0 0 5px var(--primary-color);
border-radius: 2.5px;
background-color: var(--primary-color);
color: var(--font-color);
}

.starRating label, .features label {
font-family: var(--body-font);
font-size: 1.1rem;
}

.starRating {
display: flex;
justify-content: space-between;
}

.star {
display: flex;
flex-direction: column-reverse;
}

.prf select:required,
.prf input:required {
    border-bottom: 8px solid var(--primary-color);
}

.prf select:required:valid,
.prf input:required:valid {
    border-bottom: 8px solid green;
}

input[type="submit"]:hover {
    background-color: var(--font-color);
    color: var(--primary-color);
    border: 4px solid var(--primary-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    cursor: pointer;
}

.review {

    font-family: var(--heading-font);
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
}

#reviewCount {
    font-size: 1.1rem;
}

@media screen and (min-width: 800px) {
    .prf {
        width: 600px;
        margin: 0 auto;
    }
    input[type="text"],
    input[type="date"],
    select,
    textarea {
        width: 100%;
        max-width: 600px;
    }
    input[type="submit"] {
        width: 92%;
        max-width: 600px;
        margin: 0 2% 0 4%;
    }
}