* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --heading-font: 'PT Serif', serif;
    --body-font: 'Lora', serif;
    --primary-color: rgb(90, 12, 12);
    --secondary-color: rgb(9, 9, 85);
    --border-color: #ccc;
    --font-color: white;
}

header {
    background-color: var(--primary-color);
    color: var(--font-color);
    text-align: center;
}

h1 {
    font-family: var(--heading-font);
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.hero {
    background-color: var(--primary-color);
    border-top: 1rem solid var(--secondary-color);
}

.hero img {
    width: 100%;
    height: 100%;
}

.info {
    text-align: center;
    line-height: 2rem;
    background-color: var(--font-color);
    color: #000;
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 1.2rem;
}

.info section + section {
    border-top: 1px solid var(--border-color);
}

.info-data, .info-weather {
    padding: 1rem;
}

.info h2 {
    font-family: var(--heading-font);
    font-style: italic;
    font-weight: 700;
    font-size: 1.7rem;
}

li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.label {
    text-align: right;
}

.value {
    text-align: left;
}

.label::after {
    content: ":";
    margin-right: 4px;
}

footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 1rem;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

footer p:nth-last-of-type(1) {
    font-size: 1.2rem;
}

@media screen and (min-width: 1000px) {
    .hero img {
        height: 100%;
    }
    main {
        position: relative;
    }
    section {
        background-color: var(--font-color);
        color: #000;
        opacity: 0.9;
    }
    .info ul {
        padding: 1rem;
    }
    .info section + section {
        border-top: none;
    }
    .info-data {
        position: absolute;
        top: 10%;
        left: 5%;
    }    
    .info-weather {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
    .info-weather h2::after {
        content: '☀️';
    }
    .info-data h2, .info-weather h2 {
        background-color: var(--secondary-color);
        color: var(--font-color);
        padding: 1rem;
        width: 280px;
        margin-left: -1.5rem;
    }
    svg {
        display: none;
    }
}