* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --heading-font: 'PT Serif', serif;
    --body-font: 'Lora', serif;
    --primary-color: rgb(90, 12, 12);
    --font-color: white;
}

header {
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
}

#templeId {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-family: var(--heading-font);
    color: var(--font-color);
    font-size: 2rem;
    padding-left: 1rem;
    height: 70px;
}

nav ul {
    align-items: center;
    list-style-type: none;
}

.navigation li {
    display: none;
}

nav ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.6rem;
    width: 100%;
}

nav ul li a:hover, nav ul li a:active {
    color: var(--primary-color);
    background-color: var(--font-color);
    transition: background-color ease-in-out 0.6s, color ease-in-out 0.6s;
    font-weight: bolder;
}

#menuButton {
    position: absolute;
    background: none;
    border: none;
    color: var(--font-color);
    font-size: 2.2rem;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}

#menuButton::before {
    content: '☰';
}

#menuButton.show::before {
    content: '✖';
} 

.show li {
    display: block;
    text-align: center;
}

#templeId.remove {
    display: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(#c53f3f, #e47958);
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
    background: linear-gradient(rgb(139, 60, 60), rgb(172, 32, 32));
    color: var(--font-color);
    font-size: 1.6rem;
    padding: 1rem;
    font-style: italic;
}

.templeAlbum {
    display: grid;
    grid-template-columns: 1fr;
}

.templeAlbum img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding: .1rem;
    background: #fff;
}

.templeAlbum figure {
    text-align: center;
    padding: 1rem;
}

.templeAlbum figcaption {
    font-family: var(--body-font);
    color: var(--font-color);
    font-size: 1.2rem;
    font-style: italic;
}

footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    font-family: var(--body-font);
}

footer p:nth-last-of-type(1) {
    font-size: 1rem;
}