:root {
    --heading-font: "PT Serif", serif;
    --body-font: "Lora", serif;
}

header {
    background-color: rgba(5, 38, 100, 0.945);
}

h1 {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: white;
    padding: 10px;
}

 h2 {
    font-size: 1.8rem;
    text-align: center;
}

#menuButton {
    border: none;
    background: none;
    color: white;
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

#menuButton::before {
    content: "☰";
}

#menuButton.show::before {
    content: "✖";
}

ul, li, nav {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    display: none;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: var(--body-font);
    font-weight: 600;
    transition: 0.5s;
    font-size: 1.5rem;
}

a:hover, a:active {
    background-color: white;
    color: rgba(5, 38, 100, 0.945);
    transition: 0.5s;
    font-size: 2rem;
    padding: 10px;
}

.show li {
	display: block;
    text-align: center;
}

.remove {
    display: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 1.5rem;
    padding: 10px;
}

footer{
    background-color: rgba(5, 38, 100, 0.945);
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

#lastModified {
    padding: 0;
    margin: 0;
}