body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #eee;
    padding: 1rem;
    background-color: rgb(153, 176, 226);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    background-color: #fff;
    padding: 1rem;
}